@charset "UTF-8";
html {
  overflow-y: scroll;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  color: #545454;
  font-size: 14px;
  font-size: 1rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
  line-height: 1.1;
  background: #fff;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 14px;
  font-size: 1rem;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  margin: 0;
  padding: 0;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

input,
textarea {
  margin: 0;
  padding: 0;
}

iframe {
  display: block;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

th,
td {
  padding: 0;
  text-align: left;
}

figure {
  margin: 0;
}

img {
  border: none;
}

a img {
  vertical-align: middle;
}
a img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

em,
i,
address {
  font-style: normal;
}

hr {
  display: none;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 1px solid #cccccc;
}

a:link {
  color: #3789B9;
}
a:visited {
  color: #3789B9;
}
a:active {
  color: #3789B9;
}
a:focus {
  outline: none;
}
a:hover {
  color: #F88836;
  text-decoration: none;
}

