@charset "utf-8";

// ini
$dir_img : "/img";
$f_size_base: 14;

// width
$w_base : 900px;

$w_col_center: 500px;
$w_col_left: 180px;
$w_col_right: 180px;

// margin
$m_base : 20px;
$m_col: 20px;

// color
$c_link: #3789B9;
$c_link_h: #F88836;







