@charset "utf-8";

/* margin */

@for $i from 0 through 5 {
	.u-m#{$i*10}  { margin: $i * 10px !important }
	.u-mt#{$i*10} { margin-top: $i * 10px !important }
	.u-mb#{$i*10} { margin-bottom: $i * 10px !important }
	.u-ml#{$i*10} { margin-left: $i * 10px !important }
	.u-mr#{$i*10} { margin-right: $i * 10px !important }
}

/* padding */

@for $i from 0 through 5 {
	.u-p#{$i*10}  { padding: $i * 10px !important }
	.u-pt#{$i*10} { padding-top: $i * 10px !important }
	.u-pb#{$i*10} { padding-bottom: $i * 10px !important }
	.u-pl#{$i*10} { padding-left: $i * 10px !important }
	.u-pr#{$i*10} { padding-right: $i * 10px !important }
}

/* font-size */
.u-fsS { @include fontsize(12, $imp:1);}
.u-fsM { @include fontsize(14, $imp:1);}
.u-fsL { @include fontsize(16, $imp:1);}

/* text-align */
.u-taL { text-align: left !important;}
.u-taR { text-align: right !important;}
.u-taC { text-align: center !important;}

/* float */
.u-flL { float: left !important;}
.u-flR { float: right !important;}
.u-flN { float: none !important;}

// /* overflow setting */
// .u-ofH { overflow: hidden !important;}
// .u-ofV { overflow: visible !important;}
// .u-ofS { overflow: scroll !important;}

/* clear */
.u-clr {
	clear: both;
}

.u-clrfix {
	*zoom: 1;
	&:before, &:after {
		content: "";
		display: block;
		clear: both;
	}
}

.u-clrn {
	clear: none !important;
}

/* color setting */

.u-color-red {
	color: #d92c00;
}

/* display off */

.hide {
  display: none;
}